@import "variables";
@import "flex";
@import "menu";
@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900');
//@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700');

// END IMPORT

* {
  box-sizing: border-box;
}

body {overflow: hidden;}

html, body {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  margin: 0;
}

h1 {
  text-transform: uppercase;
  font-size: 7em;
}

.wrap {
  height: 100vh;
  width: 100%;
  @include flexbox;
  @include align-items(center);
  @include flex-direction(column);
  padding-top:20%;
  text-align: center;
  background: rgba($color1,.65);
  color:$color2;
  overflow: hidden;
  transition: all .35s;
  h1 {
    display: block;
    width: 100%;
    margin: 0;
  }
  .intro {
    margin: 0;
    margin-top: 4vh;
    font-size: 2em;
    font-weight: 300;
    animation: cmintop 0.7s ease-out 1 backwards;
    animation-delay: 3s;
    opacity: 1;
  }
  @keyframes cmintop {
    from {
      margin-top: 100vh;
      opacity: 0;
    }
    to {
      margin-top: 4vh;
      opacity: 1;
    }
  }
}

.animated {
  width: 100vw;
  height: 0;
  position: absolute;
  background: $color2;
  animation: disappear 2s linear 1 backwards;
  animation-delay: 2s;
  overflow: hidden;
  .research-area {
    @include flexbox;
    @include justify-content(center);
  }
  .research-circle {
    display: inline-block;
    height: 100vh;
    width: 100vh;
    border-radius: 50%;
    border: 2px solid $color1;
    position: absolute;
    animation: scale 2s linear 1 backwards;
    transform: scale(4);
  }
  .rs-1 {
    animation-delay: 0s;
  }
  .rs-2 {
    animation-delay: 0.5s;
  }
  .rs-3 {
    animation-delay: 0.8s;
  }
  .rs-4 {
    animation-delay: 1s;
    background-color:$color1;
  }
  @keyframes scale {
    from {
      transform: scale(0);
    }
    to {
      transform: scale(4);
    }
  }
  @keyframes disappear {
    0% {
      opacity:1;
      height: 100vh;
    }
    99% {
      height: 100vh;
    }
    100% {
      opacity:0;
      height: 0;
    }
  }
}

svg {
  vertical-align: middle;
}
.scroll-down {
  position: absolute;
  left: 50%;
  margin-left: -20px;
  width: 40px;
  height: 40px;
  bottom: 35px;
  padding-left: 7px;
  cursor: pointer;
  z-index: 0;
  color: $color2;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  opacity:1;
  animation: opacities 1s ease-out 1 backwards;
  animation-delay: 4s;
}
.scroll-down.svg svg {
  width: 15px;
  opacity: 1;
  -webkit-transition: opacity .5s;
  -moz-transition: opacity .5s;
  -ms-transition: opacity .5s;
  -o-transition: opacity .5s;
  transition: opacity .5s;
}
.scroll-down.svg .stroke {
  stroke: $color2;
}
.scroll-down.svg .scroller {
  fill: $color2;
  -webkit-animation: updown 1s infinite;
  -moz-animation: updown 1s infinite;
  -o-animation: updown 1s infinite;
  animation: updown 1s infinite;
}

.button_container {
  opacity:1;
  animation: opacities 1s ease-out 1 backwards;
  animation-delay: 4s;
}

@keyframes opacities {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes updown {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0)
  }
  50% {
    -webkit-transform: translate(0, 5px);
    transform: translate(0, 5px)
  }
  100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0)
  }
}
@-moz-keyframes updown {
  0% {
    -moz-transform: translate(0, 0);
    transform: translate(0, 0)
  }
  50% {
    -moz-transform: translate(0, 5px);
    transform: translate(0, 5px)
  }
  100% {
    -moz-transform: translate(0, 0);
    transform: translate(0, 0)
  }
}
@-o-keyframes updown {
  0% {
    -o-transform: translate(0, 0);
    transform: translate(0, 0)
  }
  50% {
    -o-transform: translate(0, 5px);
    transform: translate(0, 5px)
  }
  100% {
    -o-transform: translate(0, 0);
    transform: translate(0, 0)
  }
}
@keyframes updown {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0)
  }
  50% {
    -webkit-transform: translate(0, 5px);
    transform: translate(0, 5px)
  }
  100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0)
  }
}

video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translateX(-50%) translateY(-50%);
  background: url('img/poster.jpg') no-repeat;
  background-size: cover;
  transition: 1s opacity;
}
.stopfade {
  opacity: .5;
}

.test {
  height: 100vh;
  width: 100%;
  background-color:$color1;
}