<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SANDBOX</title>
    <meta name="description" content="">
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="animated">
    <div class="research-area">
        <span class="research-circle rs-1" href="#"></span>
        <span class="research-circle rs-2" href="#"></span>
        <span class="research-circle rs-3" href="#"></span>
        <span class="research-circle rs-4" href="#"></span>
    </div>
</div>
<div class="wrapper">
    <h1>Hello World</h1>
</div>
<script src="script.js"></script>
</body>
</html>